html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #BFB4C7;
}

.main-login {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
}

h1 {
  color: #34005A;
  font-size: 6vmax;
}

button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;
  border-color: #34005A;
  background-color: #BFB4C7;
}

button:hover {
  background-color: #34005A;
  color: white;
}

.fav-icon-image {
  height: 300px;
  width: 300px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}